{% use 'bootstrap_4_horizontal_layout.html.twig' %}

{# Disable errors shown on form labels #}
{% block form_label_errors %}{% endblock form_label_errors %}

{% block form_row -%}
    {%- if expanded is defined and expanded -%}
        {{ block('fieldset_form_row') }}
    {%- else -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
        <div{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group row' ~ ((not compound or force_error|default(false)) and not valid ? ' is-invalid'))|trim})} %}{{ block('attributes') }}{% endwith %}>
            {{- form_label(form) -}}
            <div class="{{ block('form_group_class') }}">
                {{- form_widget(form, widget_attr) -}}
                {{- form_errors(form) -}}
                {{- form_help(form) -}}
            </div>
    </div>
    {%- endif -%}
{%- endblock form_row %}


{% block submit_row -%}
    <div{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group row')|trim})} %}{{ block('attributes') }}{% endwith %}>{#--#}
        <div class="{{ block('form_label_class') }}"></div>
        <div class="{{ block('form_group_class') }} text-right">
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock submit_row %}

{# Add icon to block button_widget #}
{%- block button_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('btn-primary') ~ ' btn')|trim}) -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- elseif label is not same as(false) -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {%- if icon is defined -%}
            <i class="{{ icon }}"></i>
        {%- endif -%}
        {{- translation_domain is same as(false) or label is same as(false) ? label : label|trans(label_translation_parameters, translation_domain) -}}
    </button>
{%- endblock button_widget -%}

{# Render a simple HTML (remove unecessary horizontal layout from submit_row block) #}
{% block app_post_button_submit_row %}
    {{- form_widget(form) -}}
{% endblock %}
