{% extends 'base-vertically-centred.html.twig' %}

{% block navbar %}
    {% include 'Pages/YoutubeChannel/_navbar.html.twig' %}
{% endblock %}

{% block content %}
    {% include 'Form/simple-item.html.twig' %}
{% endblock %}
