{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'Pages/YoutubeChannel/_navbar.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div id="table-menu">
            <a class="btn btn-outline-primary" href="{{ path('app_youtube_channel_new') }}" title="Ajouter une chaine">
                <i class="fas fa-plus"></i>
            </a>
        </div>
        <table class="table table-striped table-responsive-lg">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Id</th>
                <th>Status</th>
                <th class="date">Créé le</th>
                <th class="icon"></th>
            </tr>
            </thead>
            <tbody>
                {% for channel in channels %}
                    <tr class="status-{{ channel.status }}">
                        <td>
                            <a href="{{ path('app_youtube_channel_show', { 'id': channel.id }) }}">{{ channel.name }}</a>
                        </td>
                        <td>{{ channel.id }}</td>
                        <td>{{ channel.status }}</td>
                        <td class="date">{{ channel.createdAt|format_date }}</td>
                        <td class="icon">
                            <div class="dropdown">
                                <button id="action-menu-{{ channel.id }}" class="btn btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bars"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="action-menu-{{ channel.id }}">
                                    <a class="dropdown-item" href="{{ path('app_youtube_channel_edit', { 'id': channel.id }) }}">Modifier</a>
                                    <a
                                        class="dropdown-item"
                                        href="{{ path( 'app_youtube_channel_delete', { 'id': channel.id } ) }}"
                                        data-toggle="modal"
                                        data-target="#modal-delete-item"
                                        data-name="{{ channel.name }}"
                                    >
                                        Supprimer
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block modals %}
    {{ include ('Modals/delete-item.html.twig', {'modal_title': '%name%', 'modal_description': 'Supprimer la chaine Youtube définitivement ?'}) }}
{% endblock %}
