
<div id="youtube-channels-footer">

    <ul class="youtube-hidden-channels">
        {% for video in hidden_videos %}
            <li>
                {{ include('Pages/Common/_hidden_video_item.html.twig') }}
            </li>
        {% endfor %}
    </ul>

</div>
