<div class="youtube-video{% if css_class is defined %} {{ css_class }}{% endif %}">
    <div class="image">
        <a href="{{ video.url }}">
            {% if video.thumbnails.high is defined %}
                <img class="img-fluid" loading="lazy" src="{{ video.thumbnails.high.url }}" alt="Youtube video thumbnail" />
            {% endif %}
        </a>
        <div class="duration">{{ video.duration }}</div>
    </div>
    <div class="video-name" title="{{ video.name }}">{{ video.name }}</div>
    <div class="video-description">
        <small title="{{ video.publishedAt | format_date('full') }}">
            {{ video.publishedAt | ago }}
        </small>
        {% set form = create_post_form_hide_video(video.id, {'icon': 'far fa-times-circle', 'display_channel_name': twig_display_channel_name|default(false)}) %}
        {{ form_start(form, {'attr': {'class': 'hide-video js-hide-video'}}) }}
        {{ form_row(form.submit, {'label': false, 'attr': {'class': 'btn-icon', 'title': 'Cacher la vidéo des résultats'}}) }}
        {{ form_end(form) }}
    </div>
</div>
