{% extends 'base-vertically-centred.html.twig' %}

{% block favicon %}
    {{ include('Pages/Common/_youtube_fav_icon.html.twig') }}
{% endblock %}

{% block title %}
    Activités Youtube - {{ parent() }}
{% endblock %}

{% block navbar %}

    {% set title %}
        <h5 id="main-title">Activités ces {{ published_after_days }} derniers jours</h5>
    {% endset %}

    {% set clear_cache_button %}
        {{ form_start(clear_cache_form) }}
        {{ form_row(clear_cache_form.submit) }}
        {{ form_end(clear_cache_form) }}
    {% endset %}

    {% embed 'navbar.html.twig' %}
        {% block navbar_content %}
            {# remove display: flex property from boostrap (.navbar > .container #}
            <div class="d-none d-sm-block container">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        {{ title }}
                    </div>
                    <div class="col-sm-6 text-right">
                        {{ clear_cache_button }}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block navbar_mobile %}
            <div class="d-sm-none container">
                {{ title }}
                <div class="text-right">
                    {{ clear_cache_button }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <section id="youtube-channels">
        <div class="container-fluid">

            {% form_theme clear_cache_form 'bootstrap_4_layout.html.twig' %}

            {% if http_errors is not empty %}
                <div class="container">
                    {% for message in http_errors %}
                        <div class="alert alert-danger small">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="youtube-channels-inner">

                {% for channel in channels_activities %}
                    <div class="col video-box-sizing youtube-channel">

                        <h6 class="channel-name">
                            <i class="fab fa-youtube"></i>
                            <a href="{{ path('app_youtube_channel_show', {'id': channel.id}) }}">{{ channel.title }}</a>
                        </h6>

                        {% for video in channel.activities %}
                            {{ include('Pages/Common/_item_video.html.twig') }}
                        {% endfor %}

                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}

{% block main_footer %}
    {{ include('Pages/Common/_hidden_videos.html.twig') }}
{% endblock %}
