
#table-menu {
    margin-bottom: 15px;
    text-align: right;
}

table, table.table {
    color: #151530;
    tr {
        &.status-offline {
            color:  #888888;
            a:not(.dropdown-item) {
                color: #888888;
            }
        }
    }
    th {
        &.date {
            width: 120px;
        }
        &.icon {
            width: 50px;
        }
    }
    td {
        padding: 0 10px;
        font-size: 15px;
        /* Set height to avoid resizing when user paging click */
        height: 50px;
        max-height: 50px;
        vertical-align: middle;
        &.date {
            font-size: 13px;
            text-align: center;
        }
        &.icon {
            text-align: center;
        }
    }
}
