{% extends 'base.html.twig' %}

{% block main %}
    <div class="text-center mb-5">
        {% block main_title %}{% endblock %}
    </div>
    <main id="content" class="d-flex align-items-center">
        {% block content %}{% endblock %}
    </main>
    {% block main_footer %}{% endblock %}
{% endblock %}
